
<h2>States</h2>
<ul>
<% states = ["New York", "Connecticut", "New Jersey"] %>
<% states.each do |state| %>
<li><%= state %></li>
<% end %>
</ul>

<h2>Cities</h2>
  <ul>
  <% cities = ["New York City", "Stamford", "Jersey City","Hartford","Trenton","Albany"] %>
  <% cities.each do |city| %>
  <li><%= city %></li>
  <% end %>
</ul>
<!-- <li>New York</li>
  <li>Connecticut</li>
  <li>New Jersey </li>
</ul>
<h2>Cities</h2>
<ul>
<li>New York City</li>
  <li> Stamford</li>
    <li>Jersey City</li>
      <li> Hartford</li>
        <li>Trenton</li>
          <li> Albany</li>
</ul> -->
